.overallCnt{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
    flex: 10;
}

.container{
    width: 89%;
    margin: auto;
    background-color: #f1ffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(243, 122, 122);
    display: flex;
    flex-direction: column;
}

.mainCnt{
    display: flex;
    flex-direction: column;
}

.ProjImg{
   margin-bottom: 4em;
   width: 80%;
   align-self: center;
}

.ending{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    color:rgb(243, 122, 122);
}

.ending h1{
    font-family: 'Sofia-Pro Bold';
    font-size: 60px;
    margin-bottom: 20px;
}

.ending .nextProj{
    font-family: 'Sofia-Pro regular';
    text-decoration: none;
    border: .5px solid  rgb(243, 122, 122);
    color:  rgb(243, 122, 122);
    padding: 8px 50px;
    font-weight: bolder;
    border-radius: 3px;
    align-self: center;
}

.liveUrl{
    font-family: 'Sofia-Pro regular';
    align-self: center;
}

.projInfo{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    margin-bottom: 5em;
    color:rgb(243, 122, 122);
}

.projInfo h1{
    font-family: 'Sofia-Pro Bold';
    font-size: 60px;
    margin-top: .3em;
}

.detailsPara{
    font-family: 'Sofia-Pro regular';
    width: 40%;
}

.detailsPara .p_ara{
    font-family: 'Sofia-Pro regular';
    line-height: 1.8;
    font-weight: normal;
    font-size: 20px;
}



/*other section*/

.works{

    background:   rgb(214, 102, 102);
    position: fixed;
    height: 100%;
    width: 6%;
    display: flex;
    flex: .5;
    flex-direction: column;
    align-items: center;
}

.works img{
    margin: 20px 0 15em 0 ;
}

.works p{
    font-family: 'Sofia-Pro regular';
    font-weight: bold;
}

.para{
    font-family: 'Sofia-Pro regular';
    transform: rotate(90deg);
    min-width: 160px;
}

.carousel{
    background:rgb(243, 122, 122);
    display: flex;
    flex: 7;
    height: 100vh;
}


.contact{
    font-family: 'Sofia-Pro regular';
    background:   rgb(214, 102, 102);
    position: fixed;
    left: 94%;
    height: 100%;
    flex: .5;
}

.innerDiv{
    background: url('https://res.cloudinary.com/oyindacodes/image/upload/v1605548726/Macbook_uzixe8.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: auto;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel2{
    background-color:   rgb(214, 102, 102);
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 7em;
    margin-bottom: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.innerDiv h1{
    font-family: 'Sofia-Pro Bold';
    font-size: 90px;
    position: relative;
    z-index: 100;
}

.innerDiv span{
    display: inline;
}

.mcBookImg{
    opacity: 0.3;
    width: 50%;
}

.innerDiv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.para2{
    font-family: 'Sofia-Pro regular';
    transform: rotate(90deg);
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10em;
    font-weight: bolder;
}

.linkSmallScreen{
    height: 50px;
    background:rgb(243, 122, 122);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    display: none;
}

.linkSmallScreen img{
    margin-left: 40px;
    position: relative;
    top: 20px;
}

.hambuger{
    width: 30px;
    height:  25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 14.5em;
}

.hambuger2{
    width: 35px;
    height:  35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 14.5em;
    margin-right: 40px;
    margin-top: 25px;
}

.hambuger2 div{
    background: #fff;
    color: #fff;
    height: 4px;
}

.hambuger div{
    background: #fff;
    color: #fff;
    height: 4px;
}


.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links a{
    margin-bottom: .3em;
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  }

  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

 @media(max-width:1024px){
    .innerDiv h1{
        font-size: 70px;
    }
}

@media(max-width:992px){
    .innerDiv h1{
        font-size: 50px;
    }

    .works{
        display: none;
    }

    .contact{
        display: none;
    }

    .linkSmallScreen{
        display: flex;
    }

    .innerDiv span{
        display: block;
    }

}

@media(max-width:768px){
    .projInfo{
        flex-direction: column;
        align-items: center;
    }

    .detailsPara{
        width: 80%;
    }

    .detailsPara p{
        font-size: 18px;
    }

    .projInfo h1{
        font-size: 40px;
        margin-bottom: 0;
    }

    .ending h1{
        font-size: 30px;
    }

    .carousel{
        height: 70vh;
    }

    .detailsPara .p_ara{
        font-weight: normal;
    }
}

@media(max-width:500px){
    .innerDiv h1{
        font-size: 41px;
        text-align: center;
    }
}

@media(max-width:410px){
    .innerDiv h1{
     width: 100%;
    }
}

@media(max-width:325px){
    .ending h1{
        font-size: 25px;
    }
}